*.pyc
output/
*.output
*.score
*.log
.DS_Store
venv
__pycache__
.DS_Store
*.egg-info
.ipynb_checkpoints
source.zip
output.zip

answer/.ipyb_checkpoints
answer/data/glove.6B.100d.magnitude
output.txt
data/glove.6B.100d.magnitude
answer/data/glove.6B.100d.txt
data/glove.6B.100d.txt
answer/pymagnitude
old_zipout.py
output_zip

answer/dev.out
answer/dev_33.txt
answer/dev_36.txt
answer/output_lexsub_41.txt
answer/output_test.zip
output_359366.zip
answer/output_test.txt
